server_url=$(eval bw status | jq -r '.serverUrl')
if [ "$server_url" != "https://secrets.gathering.org" ]; then
    bw logout
    bw config server https://secrets.gathering.org
    bw login
fi

eval "$(bw get notes TG26-NETBOX)"
