{% include 'juniper-global.j2' %}

interfaces {
{% for interface in device.interfaces.filter() %}
    {% if interface.type not in ["1000base-t", "lag", "virtual"] %}
    {% else %}
    {{ interface.name }} {
    {% if interface.description %}
        description "{{ interface.description }}";
    {% endif %}
    {% if interface.lag %}
        ether-options {
            802.3ad {{ interface.lag.name }};
        }
    {% else %}
        unit 0 {
        {% if interface.count_ipaddresses > 0 %}
            family inet {
                filter {
                    input mgmt-v4;
                }
                address TODO;
            family inet6 {
                filter {
                    input mgmt-v4;
                }
                address TODO;
            }
        {% elif interface.mode == "access" %}
            family ethernet-switching {
                port-mode access;
                vlan {
                    members {{ interface.untagged_vlan.name }};
                }
            }
        {% elif interface.mode == "tagged" %}
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ {% for vlan in interface.tagged_vlans.all() %}{{ vlan.name }} {% endfor -%} ];
                }
            }
        {% endif %}
        }
    {% endif %}
    }
    {% endif %}
{% endfor %}
}

ethernet-switching-options {
    storm-control {
    {% for interface in device.interfaces.filter(type="lag") %}
        interface {{ interface.name }};
    {% endfor %}
    }
    secure-access-port {
        vlan juniper-mgmt {
            dhcp-option82 {
                circuit-id {
                    prefix hostname;
                    use-vlan-id;
                }
            }
        }
    }
}

protocols {
    rstp {
    {% if device.role.slug == "access-switch" %}
        bridge-priority 32k;
    {% elif device.role.slug == "utskutt-distro" %}
        bridge-priority 8k;
    {% elif device.role.slug == "distro" %}
        bridge-priority 4k;
    {% endif %}
        interface edge-ports {
            edge;
            no-root-port;
        }
    }

    lldp {
        port-id-subtype interface-name;
        port-description-type interface-description;
        {% if device.role.slug != "access-switch" %}
        interface all;
        {% else %}
        {# TODO all edge interfaces #}
        {% endif %}
    }
    {% if device.role.slug == "access-switch" %}
    igmp-snooping {
        vlan all {
            version 3;
            immediate-leave;
        }
    }
    mld-snooping {
        vlan all {
            version 2;
            immediate-leave;
        }
    }
    {% endif %}
}
{% set vlans = [] %}
{% for interface in device.interfaces.filter() %}
    {% for vlan in interface.tagged_vlans.all() %}
        {% if vlan not in vlans %}
            {% do vlans.append(vlan) %}
        {% endif %}
    {% endfor %}
{% endfor %}
ethernet-switching-options {
    secure-access-port {
        interface edge-ports { ## TODO find edge-ports somehow
            no-dhcp-trusted;
        }
{% for vlan in vlans if not vlan.name == "juniper-mgmt" %} {# TOOD maybe also ignore wifi vlans #}
        vlan {{ vlan.name }} {
            arp-inspection;
            examine-dhcp;
            examine-dhcpv6;
            neighbor-discovery-inspection;
            ip-source-guard;
            ipv6-source-guard;
            dhcp-option82 {
                circuit-id {
                    use-vlan-id;
                }
            }
            no-option-37;
            /* inactive due to DHCP drops on MX platform */
            inactive: dhcpv6-option18 {
                use-option-82;
            }
        }
        ipv6-source-guard-sessions {
            max-number 128;
        }
    }
    port-error-disable {
        /* 30 minutes in seconds */
        disable-timeout 1800;
    }
    storm-control {
        action-shutdown;
        interface edge-ports {  ## TODO find edge-ports somehow
            bandwidth 20000;
            multicast;
        }
    }
{% endfor %}
}
vlans {
{% for vlan in vlans %}
    {{ vlan.name }} {
        vlan-id {{ vlan.vid }};
    {% if vlan.name == "juniper-mgmt" %}
        l3-interface vlan.{{ vlan.vid }};
    }
    {% endif %}
{% endfor %}
}
