{% include 'templates/juniper-global.j2' %}

{% if device.virtual_chassis %}
    {% set interfaces = dcim.Interfaces.objects.filter(virtual_chassis_id=device.virtual_chassis.id) %}
{% else %}
    {% set interfaces = device.interfaces.filter() %}
{% endif %}

interfaces {
    interface-range edge-ports {
{% for interface in interfaces if interface.type not in ["virtual", "lag"] %}
    {% if interface.mode == "access" %}
        member {{ interface.name }};
    {% endif %}
{% endfor %}
    }
    interface-range uplink-ports {
{% for interface in interfaces %}
    {% if interface.lag %}
        member {{ interface.name }};
    {% endif %}
{% endfor %}
    }
}

interfaces {
{% for interface in interfaces %}
    {% if interface.type in ["virtual"] %}
    {% set interface_name_parts =  interface.name.split(".") %}
    {{ interface_name_parts[0] }} {
        unit {{ interface_name_parts[1] }} {
        {% if interface.description %}
            description "{{ interface.description }}";
        {% endif %}
        {% if interface.count_ipaddresses > 0 %}
            {% for ip in interface.ip_addresses.all() %}
                {% if ip.family == 4 %}
            family inet {
                filter {
                    input mgmt-v4;
                }
                {% elif ip.family == 6 %}
            family inet6 {
                filter {
                    input mgmt-v6;
                }
                {% endif %}
                address {{ ip.address }};
            }
            {% endfor %}
        {% endif %}
        }
    }
    {% elif interface.type in ["1000base-t", "lag", "10gbase-x-sfpp"] %}
    {{ interface.name }} {
    {% if interface.description %}
        description "{{ interface.description }}";
    {% endif %}
    {% if interface.type == "lag" %}
        aggregated-ether-options {
            lacp {
                active;
            }
        }
    {% endif %}
    {% if interface.lag %}
        ether-options {
            802.3ad {{ interface.lag.name }};
        }
    {% else %}
        unit 0 {
        {% if interface.count_ipaddresses > 0 %}
            {% for ip in interface.ip_addresses.all() %}
                {% if ip.family == 4 %}
            family inet {
                filter {
                    input mgmt-v4;
                }
                {% elif ip.family == 6 %}
            family inet6 {
                filter {
                    input mgmt-v6;
                }
                {% endif %}
                address {{ ip.address }};
            }
            {% endfor %}
        {% elif interface.mode == "access" %}
            family ethernet-switching {
                port-mode access;
                vlan {
                    members {{ interface.untagged_vlan.name }};
                }
            }
        {% elif interface.mode == "tagged" or interface.mode == "tagged-all" %}
            family ethernet-switching {
                port-mode trunk;
                vlan {
            {% if interface.mode == "tagged-all" %}
                    members all;
            {% else %}
                    members [ {% for vlan in interface.tagged_vlans.all() %}{{ vlan.name }} {% endfor -%} ];
            {% endif %}
                }
                {% if interface.untagged_vlan %}
                native-vlan-id {{ interface.untagged_vlan.vid }};
                {% endif %}
            }
        {% endif %}
        }
    {% endif %}
    }
    {% else %}
    {% endif %}
{% endfor %}
}

ethernet-switching-options {
    secure-access-port {
        vlan juniper-mgmt {
            dhcp-option82 {
                circuit-id {
                    prefix hostname;
                    use-vlan-id;
                }
            }
        }
    }
}

{% set vlans = [] %}
{% for interface in interfaces %}
    {% for vlan in interface.tagged_vlans.all() %}
        {% if vlan not in vlans %}
            {% do vlans.append(vlan) %}
        {% endif %}
    {% endfor %}
{% endfor %}
ethernet-switching-options {
    secure-access-port {
{% if device.role.slug == "access-switch" %}
        interface edge-ports {
            no-dhcp-trusted;
        }
{% endif %}
{% for vlan in vlans if not vlan.name == "juniper-mgmt" %} {# TOOD maybe also ignore wifi vlans #}
        vlan {{ vlan.name }} {
            arp-inspection;
            examine-dhcp;
            examine-dhcpv6;
            neighbor-discovery-inspection;
            ip-source-guard;
            ipv6-source-guard;
            dhcp-option82 {
                circuit-id {
                    use-vlan-id;
                }
            }
            no-option-37;
            /* inactive due to DHCP drops on MX platform */
            inactive: dhcpv6-option18 {
                use-option-82;
            }
        }
        ipv6-source-guard-sessions {
            max-number 128;
        }
    }
    port-error-disable {
        /* 30 minutes in seconds */
        disable-timeout 1800;
    }
    storm-control {
        action-shutdown;
    {% if device.role.slug == "access-switch" %}
        interface edge-ports {
            bandwidth 20000;
            multicast;
        }
    {% else %}
        {% for interface in interfaces if interface.type == "lag" %}
        {{ interface }}.0
        {% endfor %}
    {% endif %}
    }
{% endfor %}
}
vlans {
{% for vlan in vlans %}
    {{ vlan.name }} {
        vlan-id {{ vlan.vid }};
    {% if vlan.name == "juniper-mgmt" %}
        l3-interface vlan.{{ vlan.vid }};
    {% endif %}
    }
{% endfor %}
}
