{% include 'juniper-global.j2' %}

interfaces {
{% for interface in device.interfaces.filter(type="1000base-t") %}
    {{ interface.name }} {
    {% if interface.description %}
        description "{{ interface.description }}";
    {% endif %}
    {% if interface.lag %}
        ether-options {
            802.3ad {{ interface.lag.name }};
        }
    {% else %}
        unit 0 {
            family ethernet-switching {
        {% if interface.mode.value == "access" %}
                port-mode access;
                vlan {
                    members {{ interface.untagged_vlan.name }};
                }
        {% elif interface.mode.value == "tagged" %}
                port-mode trunk;
                vlan {
                    members {{ interface.tagged_vlans|join(',') }};
                }
        {% endif %}
            }
        }
    {% endif %}
    }
{% endfor %}

{% for interface in device.interfaces.filter(type="lag") %}
    {{ interface.name }} {
    {% if interface.description %}
        description "{{ interface.description }}";
    {% endif %}
        unit 0 {
            family ethernet-switching {
    {% if interface.mode.value == "access" %}
            port-mode access;
        vlan {
            members {{ interface.untagged_vlan.name }};
            }
    {% elif interface.mode.value == "tagged" %}
            port-mode trunk;
            vlan {
                members [{% for vlan in interface.tagged_vlans %} {{ vlan.name }} {% endfor -%}];
                }
    {% endif %}
        }
    }
{% endfor %}

{% for interface in device.interfaces.filter(type="virtual") %}
    {{ interface.name }} {
    {% if interface.description %}
        description "{{ interface.description }}";
    {% endif %}
    }
{% endfor %}

protocols {
    igmp-snooping {
        vlan all {
            version 3;
            immediate-leave;
        }
    }
    mld-snooping {
        vlan all {
            version 2;
            immediate-leave;
        }
    }
    rstp {
        bridge-priority 32k;
        interface edge-ports {
            edge;
            no-root-port;
        }
    }
    lldp {
        port-id-subtype interface-name;
        port-description-type interface-description;
        interface uplink-ports; ## TODO
    }
}
{% set vlans = [] %}
{% for interface in device.interfaces.filter() %}
    {% for vlan in interface.tagged_vlans.all() %}
        {% if vlan not in vlans %}
            {% do vlans.append(vlan) %}
        {% endif %}
    {% endfor %}
{% endfor %}
ethernet-switching-options {
    secure-access-port {
        interface edge-ports {
            no-dhcp-trusted;
        }
{% for vlan in vlans if not vlan.name == "juniper-mgmt" %}
        vlan {{ vlan.name }} {
            arp-inspection;
            examine-dhcp;
            examine-dhcpv6;
            neighbor-discovery-inspection;
            ip-source-guard;
            ipv6-source-guard;
            dhcp-option82 {
                circuit-id {
                    use-vlan-id;
                }
            }
            no-option-37;
            /* inactive due to DHCP drops on MX platform */
            inactive: dhcpv6-option18 {
                use-option-82;
            }
        }
        ipv6-source-guard-sessions {
            max-number 128;
        }
    }
    port-error-disable {
        /* 30 minutes in seconds */
        disable-timeout 1800;
    }
    storm-control {
        action-shutdown;
        interface edge-ports {
            bandwidth 20000;
            multicast;
        }
    }
{% endfor %}
}
vlans {
{% for vlan in vlans %}
    {{ vlan.name }} {
        vlan-id {{ vlan.vid }};
    }
{% endfor %}
}