- name: Get device types
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Add TG-netbox as data source
      netbox.netbox.netbox_data_source:
        netbox_url: "{{ netbox_url }}"
        netbox_token: "{{ netbox_token }}"
        data:
          name: TG-netbox
          type: git
          source_url: https://github.com/gathering/tg-netbox.git
          enabled: true
          description: "tg-netbox repo"
          sync_interval: 60

    - name: Add config templates
      netbox.netbox.netbox_config_template:
        netbox_url: "{{ netbox_url }}"
        netbox_token: "{{ netbox_token }}"
        data:
          name: "{{ item.name }}"
          template_code: "{{ item.template_code }}"
          data_source: TG-netbox
    
    - name: Add custom link to generate AVD config
      netbox.netbox.netbox_custom_link:
        netbox_url: "{{ netbox_url }}"
        netbox_token: "{{ netbox_token }}"
        data:
          name: "Run AVD"
          object_types: [ device ]
          weight: 100
          button_class: "pink"
          enabled: true
          new_window: true
          link_text: "{% if object.role.slug in ['spine','leaf','internett-ruter'] %}Generate AVD config and sync to CVP{% endif %}"
          link_url: "https://awx.gathering.systems/#/templates/job_template/13/details"

          